/*picture formatting used on all pages*/
.logo {
  width: 100px;
  height: auto;
}

/*picture formatting used on all pages*/
.rezept-bild {
  max-width: 100%;
  height: auto;
}

/*picture formatting used on recipe pages*/
.padding-bild {
  padding-top: 20px;
  padding-bottom: 10px;
}

/*grid for logo on all pages*/
.header-startseite {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  width: 100%;
  background: white;
  grid-template-areas:
  ". startseite-link .";
}

#startseite-link {
  grid-area: startseite-link;
}


/*grid for main page*/
.main-startseite {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  width: 100%;
  background: white;
  grid-template-areas:
  ". bilder-grid .";
}

/*id of div griddeldy-grid that is nested inside main class main-startseite*/
#start-bild {
  grid-area: bilder-grid;
}

/*grid of instagram-like overview of pictures on main page*/
.griddeldy-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 5px;
  padding-top: 20px;
}


/*grid for recipe page*/
.main-rezept {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  width: 100%;
  background: white;
  grid-template-areas:
      ". picture ."
      ". content .";
}

#rezept-img{
  grid-area: picture;
}

#rezept-inhalt{
  grid-area: content;
}

/*going from one recipe to the next or previous*/
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#weiter {
  width: 20px;
}

#zurueck {
  width: 20px;
}

.weiter{
  justify-self: end;
}

.zurueck{
  justify-self: start;
}

/*grid for footer*/
.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  width: 100%;
  background: white;
  padding-bottom: 20px;
  grid-template-areas:
      ". quelle ."
      ". logo-icon .";
}

#quelle {
  grid-area: quelle;
  font-family: 'Reenie Beanie', cursive;
  color: #6b8f85;
}

#logo-icon {
  grid-area: logo-icon;
  font-family: 'Reenie Beanie', cursive;
  color: #6b8f85;
}

/*general styling of fonts etc*/
h2 {
font-family: 'Rubik Mono One', sans-serif;
color: #6b8f85;
}

h3 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #96B0A9;
}

p, li {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
}

hr {
  border-top: 2px dashed #6b8f85;
}


/*media queries*/
@media (max-width: 1000px) {
  .main-rezept{
    grid-template-columns: 1fr 10fr 1fr;
  }
  .main-startseite {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .header-startseite{
    grid-template-columns: 1fr 10fr 1fr;
  }
  .footer{
    grid-template-columns: 1fr 10fr 1fr;
  }
  h2 {
  font-size: 3em;
  }

  h3 {
  font-size: 2em;
  }

  p, li {
  font-size: 1.5em;
  }

  .rezept-bild {
    width: 10fr;
    height: auto;
  }

  #weiter {
    width: 4em;
  }

  #zurueck {
    width: 4em;
  }

  #quelle {
    font-size: 1.5em;
  }

  #logo-icon {
    font-size: 1.5em;
  }

}
